<h2>Login Form</h2>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

  <label>Email:</label>
  <br>

  <input
      type="email"
      name="email"
      [(ngModel)]="email"
      required
      email
      #emailField="ngModel">

  <div *ngIf="emailField.invalid && emailField.touched">

    <small *ngIf="emailField.errors?.['required']">
      Email is required.
    </small>

    <small *ngIf="emailField.errors?.['email']">
      Enter a valid email.
    </small>

  </div>

  <br>

  <label>Password:</label>
  <br>

  <input
      type="password"
      name="password"
      [(ngModel)]="password"
      required
      minlength="6"
      #passwordField="ngModel">

  <div *ngIf="passwordField.invalid && passwordField.touched">

    <small *ngIf="passwordField.errors?.['required']">
      Password is required.
    </small>

    <small *ngIf="passwordField.errors?.['minlength']">
      Password must be at least 6 characters.
    </small>

  </div>

  <br>

  <button
      type="submit"
      [disabled]="loginForm.invalid">
      Login
  </button>

</form>